In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

In [2]:
loan = pd.read_csv(r"C:\Users\pc-pc\Downloads\loan\loan1.csv")

C:\Users\pc-pc\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [4]:
loan.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [5]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [6]:
loan.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [7]:
#Dropping columns has all values as NA
loan.dropna(axis=1,how='all',inplace=True)

In [8]:
len(loan.columns)

57

In [9]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
id                            39717 non-null int64
member_id                     39717 non-null int64
loan_amnt                     39717 non-null int64
funded_amnt                   39717 non-null int64
funded_amnt_inv               39717 non-null float64
term                          39717 non-null object
int_rate                      39717 non-null object
installment                   39717 non-null float64
grade                         39717 non-null object
sub_grade                     39717 non-null object
emp_title                     37258 non-null object
emp_length                    38642 non-null object
home_ownership                39717 non-null object
annual_inc                    39717 non-null float64
verification_status           39717 non-null object
issue_d                       39717 non-null object
loan_status                   39717 non-null object
pymnt_plan                    39717 non-null object
url                           39717 non-null object
desc                          26777 non-null object
purpose                       39717 non-null object
title                         39706 non-null object
zip_code                      39717 non-null object
addr_state                    39717 non-null object
dti                           39717 non-null float64
delinq_2yrs                   39717 non-null int64
earliest_cr_line              39717 non-null object
inq_last_6mths                39717 non-null int64
mths_since_last_delinq        14035 non-null float64
mths_since_last_record        2786 non-null float64
open_acc                      39717 non-null int64
pub_rec                       39717 non-null int64
revol_bal                     39717 non-null int64
revol_util                    39667 non-null object
total_acc                     39717 non-null int64
initial_list_status           39717 non-null object
out_prncp                     39717 non-null float64
out_prncp_inv                 39717 non-null float64
total_pymnt                   39717 non-null float64
total_pymnt_inv               39717 non-null float64
total_rec_prncp               39717 non-null float64
total_rec_int                 39717 non-null float64
total_rec_late_fee            39717 non-null float64
recoveries                    39717 non-null float64
collection_recovery_fee       39717 non-null float64
last_pymnt_d                  39646 non-null object
last_pymnt_amnt               39717 non-null float64
next_pymnt_d                  1140 non-null object
last_credit_pull_d            39715 non-null object
collections_12_mths_ex_med    39661 non-null float64
policy_code                   39717 non-null int64
application_type              39717 non-null object
acc_now_delinq                39717 non-null int64
chargeoff_within_12_mths      39661 non-null float64
delinq_amnt                   39717 non-null int64
pub_rec_bankruptcies          39020 non-null float64
tax_liens                     39678 non-null float64
dtypes: float64(20), int64(13), object(24)
memory usage: 17.3+ MB

In [10]:
#columns has less values 
#gram.drop(columns=['desc','mths_since_last_delinq','mths_since_last_record','next_pymnt_d'], axis=1, inplace= True)

In [11]:
#gram.info()

In [12]:
loan.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,39717.000000,39717.000000,39717.000000,39661.0,39717.0,39717.0,39661.0,39717.0,39020.000000,39678.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,95.221624,12.406112,2678.826162,0.0,1.0,0.0,0.0,0.0,0.043260,0.0
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,688.744771,148.671593,4447.136012,0.0,0.0,0.0,0.0,0.0,0.204324,0.0
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,0.000000,0.000000,218.680000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,0.000000,0.000000,546.140000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,0.000000,0.000000,3293.160000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,29623.350000,7002.190000,36115.200000,0.0,1.0,0.0,0.0,0.0,2.000000,0.0

In [13]:
loan.to_csv(r'C:\Users\sateesh\Desktop\pws\loan\loan_modified.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\sateesh\\Desktop\\pws\\loan\\loan_modified.csv'

In [ ]:
loan.columns

In [ ]:
# Taking only data which has loan status as charged off
loan_ChargeOff = loan[loan.loan_status == 'Charged Off']

In [ ]:
#no duplicates
loan_ChargeOff[loan_ChargeOff.duplicated()]

In [ ]:
loan_ChargeOff.info()

In [ ]:
# dropping desc as it will not have any impact on charge off
# dropping next_paymnt_d as it has zero values
loan_ChargeOff.drop(columns=['desc','next_pymnt_d'], axis=1, inplace= True)

In [ ]:
loan_ChargeOff.to_csv(r'C:\Users\sateesh\Desktop\pws\loan\loan_ChargeOff.csv')

In [ ]:
loan.term.unique()

In [ ]:
#Found mixed types of columns like term,int_rate,emp_length,rev_util
loan_ChargeOff.term = loan_ChargeOff.term.apply(lambda x: 60 if x  == ' 60 months' else 36 )

loan_ChargeOff.int_rate = loan_ChargeOff.int_rate.apply(lambda x: x.split('%')[0]) 

loan_ChargeOff.emp_length = loan_ChargeOff.emp_length.astype(str).apply(lambda x: x.split(' ')[1] if len(x.split(' ')) == 3 else x.split(' ')[0])
loan_ChargeOff.emp_length = loan_ChargeOff.emp_length.astype(str).apply(lambda x: x.split('+')[0])

loan_ChargeOff.revol_util = loan_ChargeOff.revol_util.astype(str).apply(lambda x: x.split('%')[0])

In [ ]:
loan_ChargeOff.info()

In [ ]:
#date conversion 
loan_ChargeOff.issue_d = pd.to_datetime(loan_ChargeOff.issue_d, format='%b-%y')

loan_ChargeOff.earliest_cr_line = pd.to_datetime(loan_ChargeOff.earliest_cr_line, format='%b-%y')

loan_ChargeOff.last_pymnt_d = pd.to_datetime(loan_ChargeOff.last_pymnt_d, format='%b-%y')

loan_ChargeOff.last_credit_pull_d = pd.to_datetime(loan_ChargeOff.last_credit_pull_d, format='%b-%y')

In [ ]:
loan_ChargeOff.info()

In [ ]:
#10+ years emp_length are more charged off
sns.countplot(loan_ChargeOff.emp_length)

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(y=loan.emp_length,hue= loan.loan_status )

In [ ]:
# 36 months has more charged off
sns.countplot(loan_ChargeOff.term)

In [ ]:
# grade B has more charged off
sns.countplot(loan_ChargeOff.grade)

In [ ]:
# sub-grade B5 has more charged off
plt.figure(figsize=(12,6))
sns.countplot(loan_ChargeOff.sub_grade)

In [ ]:
#Rented home has more charged off
sns.countplot(loan_ChargeOff.home_ownership )

In [ ]:

sns.countplot(loan.home_ownership,hue= loan.loan_status )

In [ ]:
#Not verified Status has more charged off
sns.countplot(loan_ChargeOff.verification_status )

In [ ]:
sns.countplot(loan.verification_status,hue= loan.loan_status )

In [ ]:
#non of them have payment plan, who charged off 
sns.countplot(loan_ChargeOff.pymnt_plan )

In [ ]:
#none of them has payment plan
sns.countplot(loan.pymnt_plan )

In [ ]:
# dept_consolidation has more charged off
sns.countplot(y=loan_ChargeOff.purpose)

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(y=loan.purpose,hue= loan.loan_status)

In [ ]:
# charged off's are individual application type
sns.countplot(loan_ChargeOff.application_type)

In [ ]:
# all are individual application types
sns.countplot(loan.application_type )

In [ ]:
# dropping application_type, pymnt_plan as all the applications are individual and they dont have any payment plan
loan_ChargeOff.drop(columns=['application_type','pymnt_plan'], axis=1, inplace= True)

In [ ]:
loan_ChargeOff.info()

In [ ]:
help(sns.countplot)

In [ ]:
plt.figure(figsize=(20,20))
plt.matshow(gram.corr())
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
corr = loan_ChargeOff.corr()
sns.heatmap(corr,xticklabels=corr.columns,yticklabels=corr.columns,cmap="YlGnBu")